* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #341f97;
}
.welcome_text {
    width: 400px;
}

.welcome_form input,
.welcome_form button {
    display: block;
    width: 100%;
}

.welcome_form input {
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.welcome_form button {
    font-size: 22px;
    padding: 20px 0;
    border: none;
    background-color: #fff;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.4s all;
}

.welcome_form button:hover {
    transform: translateY(-5px);
}
.welcome_form input:focus,
.welcome_form button:focus {
    outline: none;
}
.quiz {
    border-radius: 3px;
    display: grid;
    grid-template-rows: 60px auto;
   width: 800px;
   height: 500px;
   background-color: #fff;
}

.quiz_header {
   background-color: #fff;
   justify-content: space-between;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
   z-index: 1;
   display: flex;
}

.quiz_body {
  background-color: #ecf0f1;
  padding: 30px;
}

.quiz_user {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.quiz_timer {
    display: flex;
    align-items: center;
    padding: 0 30px;
    background-color: #341f97;
}

.option_group {
    list-style-type: none;
    margin: 30px 0;
}

.option {
    background-color: #fff;
    width: 300px;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 100px;
    border: 2px solid transparent;
}

.option:hover{
    cursor: pointer;
    border: 2px solid #341f97;
    color: #341f97;
}

.btn-next {
    background-color: #341f97;
    color: #fff;
    padding: 15px 35px;
    border: none;
    border-radius: 27px;
    transition: 0.4s all;
    z-index: 1;
}

.btn-next:hover {
    cursor: pointer;
    background-color: #fff;
    color: #341f97;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.active {
    background-color: #341f97;
    color: #fff !important;

}

.final {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 280px ;
    background-color: #341f97;
}

.points {
    font-size: 30px;
}